@import url('fonts/OpenSans-CondBold.ttf');

.flow-chart {
    width: 70%;
    margin: auto;
}

.flow-chart-container {
    margin: auto
}

.mobile-flowchart {
    display: none;
    margin-bottom: 10%;
}

@media screen and (max-width: 800px) {
    .flow-chart-container svg {
        display: none;
    }
    .mobile-flowchart {
        display: block;
    }
}